.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.contacto {
	float: right;
	height: 100px;	
	margin-right: 50px;
   
	
	
}
.numtel {
   	text-align: left;	
	margin-top: 20px;
	width: 100%;
	
	
}
.email {
   	float: left;
	margin-top: 15px;
	
	
}
